#
_*/
install.md

# Contain a private key
config/zsh/.zshenv

## Claude
**/claude/projects/*
**/claude/auth.json
**/claude/session*
**/claude/cache/
**/claude/*.key

## Zsh containing potential keys
**/.zsh_history
**/.zcompdump
**/.zsecret
**/.zsh_sessions/


## 
config/wezterm/workspaces/
config/qalculate/qalc.history
config/pgcli/history
config/pgcli/log


.mini.session.vim
OUTLINE*
